nav {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    width: 100%;
    
}

nav > h3 {
    color: #fff;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1em;
}

.logo {
    margin-left: 1em;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    nav {
        justify-content: center;
    }

    nav > h3 {
        text-align: center;
    }
}
